<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    style="background-color:#e2e1e0;font-family: 'JetBrains Mono', monospace, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#3b4260;"
  >
    <div
      style="width:670px; margin:50px auto 10px; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);-moz-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);"
    >

      <div
        style="width: 100%; height: 10px; background: linear-gradient(135.68deg, #B679D2 1.9%, #79AFD2 36.17%, #8FD89A 81.87%, #F0DD75 128.53%, #E8735C 181.84%); border-radius:3px 3px 0 0;"
      ></div>
      <table style="width:100%; background-color:#f6f8fa;padding:50px;">
        <thead>
          <tr>
            <th style="text-align:left;">
              <h1 style="font-family: 'JetBrains Mono', monospace">Bienvenidos a
                codrr</h1>
            </th>
            <th style="text-align:right;"><p
                style=" font-size: 14px; font-style: italic; font-weight:400;"
              >{{date}}</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="height:10px;"></td>
          </tr>
          <tr>
            <td colspan="2">
              <h3
                style="font-family: 'JetBrains Mono', monospace; text-align: center; font-style: italic;"
              >Este es un mensaje automatico de Codrr:</h3>
            </td>
          </tr>
          <tr>
            <td style="height:10px;"></td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="background: rgba(161,252,119,.212); padding: 0.5em 1em; border-radius: 1em"
            >
              <div style="width: 100%">
                <p
                  style=" font-family: 'JetBrains Mono', monospace; font-size:30px; text-align: center; color:#22720e; margin:0;"
                ><b>Has pedido un cambio de password</b></p>
              </div>
            </td>

          </tr>

          <tr>
            <th colspan="2">

              <h4 style="text-align: center">
                Cambia tu password en el siguiente link:
              </h4>
              <button
                style="text-align: center; padding: 0.8em 2em; font-family: 'JetBrains Mono', monospace; border: none; border-radius: 0.5em; cursor: pointer; background: #2B2C2F; color: #fff "
              >
                <a
                  href="http://localhost:3000/reset-password/{{token}}"
                  style="text-decoration: none; color: #fff"
                >
                  Cambia tu password</a>

              </button>

            </th>

          </tr>
          <tr>
            <td style="height:10px;"></td>
          </tr>
          <tr>
            <th colspan="2">
              <div
                style="width: 100%; height:1px; background:rgba(34, 30, 41, 0.4);"
              ></div>
            </th>

          </tr>
          <tr>
            <td style="height:10px;"></td>
          </tr>

        </tbody>
        <tfooter>
          <tr>
            <td colspan="2">
              <h2 style="text-align: center">🔥</h2>
              <p
                style="font-family: 'JetBrains Mono', monospace; text-align: center; font-size: 12px"
              >Este es un mensaje automatico de codrr. Si tu no pediste el
                reseteo de password, chupate un bananon😎</p>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
  </body>

</html>